<form class="{{cssClass}}" autocomplete="off">
    <div class="npcShip">
        <div class="header border">
            <div class="flex row">
                <div class="avatar">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>
                <div class="flex column grow">
                    <div class="name header-row">
                        <label>{{localize "BIO.NAME"}}</label>
                        <input name="name" type="text" value="{{actor.name}}" />
                    </div>
                    <div class="header-row" style="height: 22px">
                        <div class="type">
                            <label>{{localize "BIO.TYPE"}}</label>
                            <input type="text" value="{{data.shipCharacteristics.type.typeName}}" data-dtype="text" disabled />
                        </div>
                        <div class="threat-level">
                            <label>{{localize "BIO.THREAT_LEVEL"}}</label>
                            <input style="margin-left: 8px" name="data.threatLevel" type="number" value="{{data.threatLevel}}" data-dtype="Number" />
                        </div>
                        <div class="crewPopulation">
                            <label>{{localize "SHIP.CREW_POPULATION"}}</label>
                            <input style="margin-left: 0px" name="data.shipCharacteristics.crewPopulation.value" type="number" value="{{data.shipCharacteristics.crewPopulation.value}}" data-dtype="Number" />
                            /
                            <input name="data.crewPopulation.max" type="number" value="{{data.shipCharacteristics.crewPopulation.max}}" data-dtype="Number" disabled />
                        </div>
                    </div>
                    <div class="header-row">
                        <div class="faction">
                            <label>{{localize "BIO.FACTION"}}</label>
                            <input style="margin-left: 10px" name="data.faction" type="text" value="{{data.faction}}" />
                        </div>
                        <div class="subfaction">
                            <label>{{localize "BIO.SUBFACTION"}}</label>
                            <input style="margin-left: 17px" name="data.subfaction" type="text" value="{{data.subfaction}}" />
                        </div>
                        <div class="crewMorale">
                            <label>{{localize "SHIP.CREW_MORALE"}}</label>
                            <input style="margin-left: 16px" name="data.shipCharacteristics.crewMorale.value" type="number" value="{{data.shipCharacteristics.crewMorale.value}}" data-dtype="Number" />
                            /
                            <input name="data.crewMorale.max" type="number" value="{{data.shipCharacteristics.crewMorale.max}}" data-dtype="Number" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs flex row" data-group="primary">
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="abilities">{{localize "TAB.ABILITIES"}}</b>
            <b class="item" data-tab="components">{{localize "TAB.COMPONENTS"}}</b>
            <b class="item" data-tab="crew">{{localize "TAB.CREW"}}</b>
            <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/rogue-trader/template/sheet/actor/ship/tab/npc-stats.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/rogue-trader/template/sheet/actor/ship/tab/combat.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="abilities">
                {{> systems/rogue-trader/template/sheet/actor/ship/tab/abilities.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="components">
                {{> systems/rogue-trader/template/sheet/actor/ship/tab/components.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="crew">
                {{> systems/rogue-trader/template/sheet/actor/ship/tab/crew.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/rogue-trader/template/sheet/actor/ship/tab/notes.html}}
            </div>
        </div>
    </div>