<form class="{{cssClass}}" autocomplete="off">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "SHIP_COMPONENT.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item" data-tab="data">{{localize "TAB.DATA"}}</b>
        <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
    </div>

    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="data">
            <div class="flex wrap stats">
                <div class="stats border">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="stats">
                        <div class="stats-row">
                            <div class="stat type">
                                <label>{{localize "SHIP_HULL.TYPE"}}</label>
                                <select name="data.type">
                                    {{#select data.type}}
                                    <option value="plasmaDrives">{{localize "SHIP_COMPONENT.PLASMA_DRIVES"}}</option>
                                    <option value="warpEngine">{{localize "SHIP_COMPONENT.WARP_ENGINE"}}</option>
                                    <option value="voidShields">{{localize "SHIP_COMPONENT.VOID_SHIELDS"}}</option>
                                    <option value="gellarField">{{localize "SHIP_COMPONENT.GELLAR_FIELD"}}</option>
                                    <option value="lifeSustainer">{{localize "SHIP_COMPONENT.LIFE_SUSTAINER"}}</option>
                                    <option value="crewCompartments">{{localize "SHIP_COMPONENT.CREW_COMPARTMENTS"}}
                                    </option>
                                    <option value="bridge">{{localize "SHIP_COMPONENT.BRIDGE"}}</option>
                                    <option value="sensors">{{localize "SHIP_COMPONENT.SENSORS"}}</option>
                                    <option value="supplemental">{{localize "SHIP_COMPONENT.SUPPLEMENTAL"}}</option>
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_COMPONENT.POWER_USED"}}</label>
                            <input name="data.powerUse" type="number" value="{{data.powerUse}}" data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_COMPONENT.POWER_GENERATED"}}</label>
                            <input name="data.powerGenerated" type="number" value="{{data.powerGenerated}}"
                                data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_COMPONENT.SPACE_USED"}}</label>
                            <input name="data.spaceUse" type="number" value="{{data.spaceUse}}" data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_COMPONENT.SP_USED"}}</label>
                            <input name="data.spUse" type="number" value="{{data.spUse}}" data-dtype="Number" />
                        </div>
                    </div>
                    <h1 style="margin-bottom: 5px;">{{localize "TITLE.STATE"}}</h1>
                    <div class="state">
                        <div class="state-row">
                            <label>{{localize "SHIP_COMPONENT.STATUS"}}</label>
                            <select name="data.status">
                                {{#select data.status}}
                                <option value="0">{{localize "SHIP_COMPONENT_STATUS.INTACT"}}</option>
                                <option value="1">{{localize "SHIP_COMPONENT_STATUS.UNPOWERED"}}</option>
                                <option value="2">{{localize "SHIP_COMPONENT_STATUS.DAMAGED"}}</option>
                                <option value="3">{{localize "SHIP_COMPONENT_STATUS.DESTROYED"}}</option>
                                {{/select}}
                            </select>
                            <label>{{localize "SHIP_COMPONENT.ENVIRONMENT"}}</label>
                            <select name="data.environment">
                                {{#select data.environment}}
                                <option value="0">{{localize "SHIP_COMPONENT_ENVIRONMENT.ACCEPTABLE"}}</option>
                                <option value="1">{{localize "SHIP_COMPONENT_ENVIRONMENT.DEPRESSURIZED"}}</option>
                                <option value="2">{{localize "SHIP_COMPONENT_ENVIRONMENT.FIRE"}}</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="state-row">
                            <label>{{localize "SHIP_COMPONENT.EXPOSED"}}</label>
                            {{#if data.isExposed}}
                            <input name="data.isExposed" type="checkbox" value="isExposed" checked />
                            {{else}}
                            <input name="data.isExposed" type="checkbox" value="isExposed" />
                            {{/if}}
                            <label>{{localize "SHIP_COMPONENT.EXTERNAL"}}</label>
                            {{#if data.isExternal}}
                            <input name="data.isExternal" type="checkbox" value="isExternal" checked />
                            {{else}}
                            <input name="data.isExternal" type="checkbox" value="isExternal" />
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="modifiers border">
                    <h1 style="margin-bottom: 5px;">{{localize "TITLE.MODIFIERS"}}</h1>
                    <div class="modifiers">
                        <div class="modifiers-row">
                            <label>{{localize "SHIP_COMPONENT_MODIFIER.DETECTION"}}</label>
                            <input name="data.detectionMod" type="number" value="{{data.detectionMod}}"
                                data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "SHIP_COMPONENT_MODIFIER.MANOEUVRABILITY"}}</label>
                            <input name="data.manoeuvrabilityMod" type="number" value="{{data.manoeuvrabilityMod}}"
                                data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "SHIP_COMPONENT_MODIFIER.SPEED"}}</label>
                            <input name="data.speedMod" type="number" value="{{data.speedMod}}" data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "SHIP_COMPONENT_MODIFIER.INTEGRITY"}}</label>
                            <input name="data.integrityMod" type="number" value="{{data.integrityMod}}"
                                data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "SHIP_COMPONENT_MODIFIER.ARMOUR"}}</label>
                            <input name="data.armourMod" type="number" value="{{data.armourMod}}" data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "SHIP_COMPONENT_MODIFIER.VOID_SHIELDS"}}</label>
                            <input name="data.voidShieldsMod" type="number" value="{{data.voidShieldsMod}}"
                                data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "SHIP_COMPONENT_MODIFIER.TURRET_RATING"}}</label>
                            <input name="data.turretRatingMod" type="number" value="{{data.turretRatingMod}}"
                                data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "SHIP_COMPONENT_MODIFIER.MAX_MORALE"}}</label>
                            <input name="data.moraleMaxMod" type="number" value="{{data.moraleMaxMod}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    <div class="modifiers">
                        <div class="modifiers-row">
                            <label>{{localize "ACHIEVEMENT_POINTS.CREED"}}</label>
                            <input name="data.apCreed" type="number" value="{{data.apCreed}}" data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "ACHIEVEMENT_POINTS.CRIMINAL"}}</label>
                            <input name="data.apCriminal" type="number" value="{{data.apCriminal}}"
                                data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "ACHIEVEMENT_POINTS.EXPLORATION"}}</label>
                            <input name="data.apExploration" type="number" value="{{data.apExploration}}"
                                data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "ACHIEVEMENT_POINTS.MILITARY"}}</label>
                            <input name="data.apMilitary" type="number" value="{{data.apMilitary}}"
                                data-dtype="Number" />
                        </div>
                        <div class="modifiers-row">
                            <label>{{localize "ACHIEVEMENT_POINTS.TRADE"}}</label>
                            <input name="data.apTrade" type="number" value="{{data.apTrade}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
                <div class="additional-effects border">
                    <h1>{{localize "TITLE.ADDITIONAL_EFFECTS"}}</h1>
                    <div class="additional-effects-row">
                        <div class="stat additional-effects-1">
                            <label>{{localize "SHIP_COMPONENT.ADDITIONAL_EFFECT_DESCRIPTION"}}</label>
                            <input name="data.additionalEffect" type="text" value="{{data.additionalEffect}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                <div class="notes-editor border">
                    <h1>{{localize "TITLE.NOTES"}}</h1>
                    <div style="height: 275px; width: 100%">
                        {{editor content=data.description target="data.description" button=true owner=owner
                        editable=editable}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>