<form class="{{cssClass}}" autocomplete="off">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "SHIP_HULL.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item" data-tab="data">{{localize "TAB.DATA"}}</b>
        <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
    </div>

    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="data">
            <div class="flex wrap hull">
                <div class="stats border">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="stats">
                        <div class="stats-row">
                            <div class="stat hullType">
                                <label>{{localize "SHIP_HULL.TYPE"}}</label>
                                <select name="data.hullType">
                                    {{#select data.hullType}}
                                    <option value="transport">{{localize "SHIP_HULL.TRANSPORT"}}</option>
                                    <option value="raider">{{localize "SHIP_HULL.RAIDER"}}</option>
                                    <option value="frigate">{{localize "SHIP_HULL.FRIGATE"}}</option>
                                    <option value="lightcruiser">{{localize "SHIP_HULL.LIGHT_CRUISER"}}</option>
                                    <option value="cruiser">{{localize "SHIP_HULL.CRUISER"}}</option>
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.SPEED"}}</label>
                            <input name="data.hullSpeed" type="number" value="{{data.hullSpeed}}" data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.MANOEUVRABILITY"}}</label>
                            <input name="data.hullManoeuvrability" type="number" value="{{data.hullManoeuvrability}}" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.DETECTION"}}</label>
                            <input name="data.hullDetection" type="number" value="{{data.hullDetection}}"
                                data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.INTEGRITY"}}</label>
                            <input name="data.hullIntegrity" type="number" value="{{data.hullIntegrity}}"
                                data-dtype="Number" />
                            </select>
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.ARMOUR"}}</label>
                            <input name="data.hullArmour" type="number" value="{{data.hullArmour}}"
                                data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.SPACE"}}</label>
                            <input name="data.hullSpace" type="number" value="{{data.hullSpace}}" data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.SHIP_POINTS"}}</label>
                            <input name="data.hullShipPoints" type="number" value="{{data.hullShipPoints}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
                <div class="stats border">
                    <h1>{{localize "TITLE.WEAPON_CAPACITY"}}</h1>
                    <div class="stats">
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.PROW"}}</label>
                            <input name="data.hullProwWeaponCap" type="number" value="{{data.hullProwWeaponCap}}"
                                data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.PORT"}}</label>
                            <input name="data.hullPortWeaponCap" type="number" value="{{data.hullPortWeaponCap}}"
                                data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.STARBOARD"}}</label>
                            <input name="data.hullStarboardWeaponCap" type="number"
                                value="{{data.hullStarboardWeaponCap}}" data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.DORSAL"}}</label>
                            <input name="data.hullDorsalWeaponCap" type="number" value="{{data.hullDorsalWeaponCap}}"
                                data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.KEEL"}}</label>
                            <input name="data.hullKeelWeaponCap" type="number" value="{{data.hullKeelWeaponCap}}"
                                data-dtype="Number" />
                        </div>
                        <div class="stats-row">
                            <label>{{localize "SHIP_HULL.AFT"}}</label>
                            <input name="data.hullAftWeaponCap" type="number" value="{{data.hullAftWeaponCap}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div style="height: 275px; width: 100%">
                    {{editor content=data.description target="data.description" button=true owner=owner
                    editable=editable}}
                </div>
            </div>
        </div>
    </div>
</form>