.rogue-trader .components .ship-hull.border {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 40%;
    margin-right: 5px;
    justify-content: center;

}
.rogue-trader .components .ship-hull .item-list {
    display: flex;
    flex-direction: column;
}

.rogue-trader .components .ship-hull .item-list .header {
    margin-top: 3px;
}

.rogue-trader .components .ship-hull .item-list .header .name {
    flex-basis: 50%;
    text-align: left;
    margin-left: 20px;
}

.rogue-trader .components .ship-hull .item-list .header .hullType {
    flex-basis: 30%;
    text-align: left;
}

.rogue-trader .components .ship-hull .item-list .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;

}

.rogue-trader .components .ship-hull .item-list .item {
    overflow-y: visible;
    flex-basis: 100%;
    align-items:center;
}

.rogue-trader .components .ship-hull .item-list .item .name {
    overflow-y: scroll;
    text-align: left;
    flex-basis: 60%;
}

.rogue-trader .components .ship-hull .item-list .item .hullType {
    overflow-y: visible;
    text-align: left;
    flex-basis: 30%;
}


.rogue-trader .components .ship-hull .segment.border {
    border-bottom-style:hidden;
    border-top-style:hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 10%;
    background-image: url("../../../../../asset/image/background-input.jpg"); 
    background-color:blanchedalmond;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
}



.rogue-trader .components .ship-hull .segment label {
    font-size: 24px;
}

.rogue-trader .components .ship-hull .segment .information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    align-content: center;
}

.rogue-trader .components .ship-hull .segment .information label {
    font-size: 18px;
    font-weight: bold;
    align-items:center;
}

.rogue-trader .components .ship-component-limits.border {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 58%;
    align-items: center;
    justify-content: center;

}

.rogue-trader .components .ship-component-limits .information {
    display: flex;
    margin-top: 5px;
    flex-basis: 100%;
    justify-content: space-evenly;
}


.rogue-trader .components .ship-component-limits .segment-top.border {
    border-top-style:hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 30%;
    
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    background-image: url("../../../../../asset/image/background-input.jpg"); 
    background-color:blanchedalmond;
}

.rogue-trader .components .ship-component-limits .segment-bottom.border {
    border-bottom-style:hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 30%;
    
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    background-image: url("../../../../../asset/image/background-input.jpg"); 
    background-color:blanchedalmond;
}
.rogue-trader .components .ship-component-limits .segment-top label {
    font-size: 18px;
}

.rogue-trader .components .ship-component-limits .segment-top .information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    align-content: center;
}

.rogue-trader .components .ship-component-limits .segment-top .information label {
    font-size: 18px;
    font-weight: bold;
    align-items:center;
}

.rogue-trader .components .ship-component-limits .segment-bottom label {
    font-size: 16px;
}

.rogue-trader .components .ship-component-limits .segment-bottom .information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    align-content: center;
}

.rogue-trader .components .ship-component-limits .segment-bottom .information label {
    font-size: 16px;
    font-weight: bold;
    align-items:center;
}


.rogue-trader .components .weapon-capacity.border {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
}



.rogue-trader .components .weapon-capacity .segment.border {
    border-bottom-style:hidden;
    border-top-style:hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 10%;
    
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-image: url("../../../../../asset/image/background-input.jpg"); 
    background-color:blanchedalmond;
}


.rogue-trader .components .weapon-capacity .segment label {
    font-size: 24px;
}

.rogue-trader .components .weapon-capacity .segment .information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    align-content: center;
}

.rogue-trader .components .weapon-capacity .segment .information label {
    font-size: 20px;
    font-weight: bold;
    align-items:center;
}


.rogue-trader .components .ship-components.border {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 5px;
}

.rogue-trader .components .ship-components .item-list {
    display: flex;
    flex-direction: column;
}

.rogue-trader .components .ship-components .item-list .header {
    margin-top: 3px;
}

.rogue-trader .components .ship-components .item-list .header .name {
    flex-basis: 40%;
    text-align: left;
    margin-left: 20px;
}

.rogue-trader .components .ship-components .item-list .header .type {
    flex-basis: 15%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .header .isExposed {
    flex-basis: 10%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .header .isExternal {
    flex-basis: 10%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .header .status {
    flex-basis: 10%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .header .environment {
    flex-basis: 15%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .items .type {
    flex-basis: 15%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .items .isExposed {
    flex-basis: 10%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .items .isExternal {
    flex-basis: 10%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .items .status {
    flex-basis: 10%;
    text-align: left;
}

.rogue-trader .components .ship-components .item-list .items .environment {
    flex-basis: 15%;
    text-align: left;
}

.rogue-trader .components .ship-component-effects.border {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 5px;
}

.rogue-trader .components .ship-component-effects .item-list {
    display: flex;
    flex-direction: column;
}

.rogue-trader .components .ship-component-effects .item-list .header {
    margin-top: 3px;
}

.rogue-trader .components .ship-component-effects .item-list .header .name {
    flex-basis: 40%;
    text-align: left;
    margin-left: 20px;
}

.rogue-trader .components .ship-component-effects .item-list .header .effect {
    flex-basis: 60%;
    text-align: left;
}
/*
.rogue-trader .gear .all-gear {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2px;
    flex-basis: 100%;
    overflow-y: scroll;
    max-height: 581px;
    height: 581px;
    align-content: flex-start;
}

.rogue-trader .gear .all-gear .item-list .header {
    margin-top: 5px;
}

.rogue-trader .gear .all-gear .item-list .name {
    flex-basis: 30%;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.rogue-trader .gear .all-gear .item-list .installed {
    flex-basis: 10%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .upgrade {
    flex-basis: 50%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .class {
    flex-basis: 30%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .damage {
    flex-basis: 10%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .type {
    flex-basis: 5%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .clip {
    flex-basis: 10%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .weapon {
    flex-basis: 45%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .quantity {
    flex-basis: 10%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .part {
    flex-basis: 55%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .craftsmanship {
    flex-basis: 55%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .short-description {
    flex-basis: 55%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .installed {
    flex-basis: 10%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .cybernetic-craftsmanship {
    flex-basis: 45%;
    text-align: center;
    align-items: center;
}

.rogue-trader .gear .all-gear .item-list .weight {
    flex-basis: 10%;
    text-align: center;
}

.rogue-trader .gear .all-gear .item-list .button {
    flex-basis: 7%;
    text-align: center;
}

.rogue-trader .gear .all-gear .item-list .item {
    overflow-y: visible;
}

.rogue-trader .gear .all-gear .item-list .items .gear {
    width: 100%;
}*/